#!/usr/bin/env bash
exercism configure -w "/workspace"

export TRACK="gleam"
export WORKSPACE="/workspace/$TRACK"

function exercism-submit(){
  clear
  local message="$TRACK $(basename $(pwd))"
  echo "$message"
  exercism submit
  git add --all
  git commit -m "$message"
}

function exer-download(){
  exercism download --track=$TRACK --exercise=$1
  cd $WORKSPACE/$1
}

function exer-edit(){
  cd $WORKSPACE/$1
  hx **/*.gleam
}

alias es="exercism-submit"
alias ed="exer-download"
alias ee="exer-edit"

alias gt="gleam test"
alias gb="gleam build"
alias gr="gleam run"


